language: python
cache:
    pip
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
    - pip install -U pip wheel
    - pip install -r requirements-dev.txt
script:
    - make test
    - make lint
    - make docs
