#
# general requirements
#
-r requirements.txt

#
# dev requirements
#

# linters
flake8==3.4.1
pydocstyle==2.0.0
pylint==1.7.2

# code complexity
radon==2.0.2

# testing tools
pytest==3.2.0
pytest-cov==2.5.1

#
# distribution requirements
#

# documentation
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
