#
# general requirements
#
-r requirements.txt

#
# dev requirements
#

# linters
flake8==3.3.0
pydocstyle==2.0.0
pylint==1.7.1

# code complexity
radon==2.0.2

# testing tools
pytest==3.1.2
pytest-cov==2.5.1

#
# distribution requirements
#

# documentation
Sphinx==1.6.2
sphinx-rtd-theme==0.2.4
