#
# general requirements
#
-r requirements.txt

#
# dev requirements
#

# linters
flake8==3.5.0 # rq.filter: <4.0
pydocstyle==2.1.1 # rq.filter: <3.0
pylint==1.9.3 # rq.filter: <2.0

# code complexity
radon==2.2.0 # rq.filter: <3.0

# testing tools
pytest==3.7.3 # rq.filter: <4.0
pytest-cov==2.5.1 # rq.filter: <3.0
pytest-xdist==1.23.0 # rq.filter: <2.0

#
# distribution requirements
#

# documentation
Sphinx==1.7.7 # rq.filter: <2.0
sphinx-rtd-theme==0.4.1 # rq.filter: <1.0

# version bumping
bumpversion==0.5.3 # rq.filter: <0.6
